/*
==========================================================================================
  Animations
==========================================================================================
*/

.animates,
.animates::before,
.animates::after {
  will-change: transform;
  transform: scale(1), translate(0, 0);
  transition-property: transform;
  transition-duration: var(--animationDurationBase);
  transition-timing-function: var(--animationTimingBase);
  animation-duration: var(--animationDurationBase);
  animation-timing-function: var(--animationTimingBase);
}
