/*
==========================================================================================
  Root
==========================================================================================
*/

html, body { min-height: 100vh; }

html {
  background: var(--colorBackground);
  font-size: 10px;
}

body {
  background-color: var(--colorBackground);
  border-top: calc(var(--gap) / 2) solid var(--colorRotaractRed);
  font-family: var(--fontFamilyBase);
  font-size: var(--fontSizeBase);
  font-weight: var(--font-weight-base);
  color: var(--colorBase);
  line-height: var(--lineHeightBase);
  letter-spacing: var(--letterSpacingBase);
  position: relative;
  min-width: var(--layoutMinWidth);
}
