/*
==========================================================================================
  Typography
==========================================================================================
*/

.heading {
  font-family: var(--fontFamilyHeading);
  font-weight: var(--font-weight-heading);
  color: var(--colorRotaractBlue);
  letter-spacing: var(--letterSpacingHeading);

  &:not(:last-child) { margin-bottom: 0.5em; }
}

a {
  color: var(--colorLink);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
    text-decoration-thickness: 0.09375em;
    text-underline-offset: 0.15625em;
  }
}

strong, b { font-weight: var(--fontWeightBold); }

em, i { font-style: italic; }

u {
  text-decoration-line: underline;
  text-decoration-color: currentColor;
  text-decoration-style: solid;
  text-decoration-thickness: 0.09375em;
  text-underline-offset: 0.15625em;
}

small { font-size: var(--fontSizeSmall); }

sub,
sup {
  vertical-align: initial;
  font-size: initial;
}

@supports (font-variant-position: sub) {
  sub,
  sup {
    vertical-align: baseline;
    font-size: inherit;
  }

  sub { font-variant-position: sub; }

  sup { font-variant-position: super; }
}

p { margin-bottom: 1em; }

ul, ol { list-style-position: inside; }
