/*
==========================================================================================
  Typography
==========================================================================================
*/

.heading {
  font-family: var(--font-family-heading);
  font-weight: var(--font-weight-heading);
  color: var(--color-heading);
}

a {
  color: var(--color-link);
  text-decoration-thickness: 0.125em;
  text-underline-offset: 0.125em;

  &:hover { text-decoration: none; }
}

strong, b { font-weight: var(--font-weight-bold); }

em, i { font-style: italic; }

u {
  text-decoration-line: underline;
  text-decoration-color: currentColor;
  text-decoration-style: solid;
  text-decoration-thickness: 0.125em;
  text-underline-offset: 0.125em;
}

small { font-size: var(--font-size-small); }

sub,
sup {
  vertical-align: initial;
  font-size: initial;
}

@supports (font-variant-position: sub) {
  sub,
  sup {
    vertical-align: baseline;
    font-size: inherit;
  }

  sub { font-variant-position: sub; }

  sup { font-variant-position: super; }
}

p, ul, ol, table { margin-bottom: 1em; }

ul, ol { list-style-position: inside; }
