/*
==========================================================================================
  Variables
==========================================================================================
*/

:root {

  /*
  ========================================================================================
    Spacing
  ========================================================================================
  */

  --gap: 0.8rem;
  --gutter: calc(var(--gap) * 4);

  /*
  ========================================================================================
    Grid
  ========================================================================================
  */

  --gridColumns: 4;
  --gridColumnsBase: var(--gutter) 1fr repeat(var(--gridColumns), minmax(calc((var(--layoutMinWidth) / var(--gridColumns)) - (var(--gutter) * 2)), var(--layoutMinWidth))) 1fr var(--gutter);

  --angleBase: -4deg;
  --angleSin: 0.06975647374;
  --angleHeight: calc(100vw * var(--angleSin));
  --angleOffset: calc((100vw - (var(--gutter) * 2)) * var(--angleSin));
  --angleTransformOrigin: 100% 0;

  @media (min-width: 1344px) {
    --angleOffset: calc((100vw - ((100vw - var(--layoutMaxWidth)) / 2) - (var(--gutter) * 2)) * var(--angleSin));
  }

  /*
  ========================================================================================
    Colors
  ========================================================================================
  */

  --hueBase: 214;
  --saturationBase: 6.25%;

  --colorGray0: hsl(var(--hueBase), var(--saturationBase), 100%);
  --colorGray1: hsl(var(--hueBase), var(--saturationBase), 93.75%);
  --colorGray2: hsl(var(--hueBase), var(--saturationBase), 87.5%);
  --colorGray3: hsl(var(--hueBase), var(--saturationBase), 81.25%);
  --colorGray4: hsl(var(--hueBase), var(--saturationBase), 75%);
  --colorGray5: hsl(var(--hueBase), var(--saturationBase), 68.75%);
  --colorGray6: hsl(var(--hueBase), var(--saturationBase), 62.5%);
  --colorGray7: hsl(var(--hueBase), var(--saturationBase), 56.25%);
  --colorGray8: hsl(var(--hueBase), var(--saturationBase), 50%);
  --colorGray9: hsl(var(--hueBase), var(--saturationBase), 43.75%);
  --colorGray10: hsl(var(--hueBase), var(--saturationBase), 37.5%);
  --colorGray11: hsl(var(--hueBase), var(--saturationBase), 31.25%);
  --colorGray12: hsl(var(--hueBase), var(--saturationBase), 25%);
  --colorGray13: hsl(var(--hueBase), var(--saturationBase), 18.75%);
  --colorGray14: hsl(var(--hueBase), var(--saturationBase), 12.5%);
  --colorGray15: hsl(var(--hueBase), var(--saturationBase), 6.25%);
  --colorGray16: hsl(var(--hueBase), var(--saturationBase), 0%);

  --colorAlpha0: hsla(var(--hueBase), var(--saturationBase), 0%, 0%);
  --colorAlpha1: hsla(var(--hueBase), var(--saturationBase), 0%, 6.25%);
  --colorAlpha2: hsla(var(--hueBase), var(--saturationBase), 0%, 12.5%);
  --colorAlpha3: hsla(var(--hueBase), var(--saturationBase), 0%, 18.75%);
  --colorAlpha4: hsla(var(--hueBase), var(--saturationBase), 0%, 25%);
  --colorAlpha5: hsla(var(--hueBase), var(--saturationBase), 0%, 31.25%);
  --colorAlpha6: hsla(var(--hueBase), var(--saturationBase), 0%, 37.5%);
  --colorAlpha7: hsla(var(--hueBase), var(--saturationBase), 0%, 43.75%);
  --colorAlpha8: hsla(var(--hueBase), var(--saturationBase), 0%, 50%);
  --colorAlpha9: hsla(var(--hueBase), var(--saturationBase), 0%, 56.25%);
  --colorAlpha10: hsla(var(--hueBase), var(--saturationBase), 0%, 62.5%);
  --colorAlpha11: hsla(var(--hueBase), var(--saturationBase), 0%, 68.75%);
  --colorAlpha12: hsla(var(--hueBase), var(--saturationBase), 0%, 75%);
  --colorAlpha13: hsla(var(--hueBase), var(--saturationBase), 0%, 81.25%);
  --colorAlpha14: hsla(var(--hueBase), var(--saturationBase), 0%, 87.5%);
  --colorAlpha15: hsla(var(--hueBase), var(--saturationBase), 0%, 93.75%);
  --colorAlpha16: hsla(var(--hueBase), var(--saturationBase), 0%, 100%);

  --colorRotaryBlue: #17458f;
  --colorRotaryGold: #f7a81b;
  --colorRotaryAzure: #0050a2;
  --colorRotarySkyBlue: #019fcb;
  --colorRotaryCranberry: #9b1238;
  --colorRotaryTurquoise: #018d8d;
  --colorRotaryViolet: #872175;
  --colorRotaryOrange: #ff7600;

  --colorRotaractRed: #c5205a;
  --colorRotaractBlue: #0e2e58;

  --colorBase: var(--colorGray12);
  --colorLink: var(--colorRotaractRed);
  --colorBackground: var(--colorGray0);

  /*
  ========================================================================================
    Borders
  ========================================================================================
  */

  --borderBase: 0.1rem solid hsla(0, 0%, 0%, 12.5%);

  --borderRadiusBase: var(--gap);
  --borderRadiusRelative: 0.5em;

  /*
  ========================================================================================
    Fonts
  ========================================================================================
  */

  --fontFamilyBase: "Source Sans Pro", ui-sans-serif, system-ui, -apple-system, sans-serif;
  --fontFamilyHeading: "Source Serif Pro", ui-serif, serif;

  /* font sizes */
  --fontSizeH1: 8.0rem;
  --fontSizeH2: 6.0rem;
  --fontSizeH3: 4.4rem;
  --fontSizeH4: 3.2rem;
  --fontSizeH5: 2.4rem;
  --fontSizeH6: 2.0rem;
  --fontSizeLarge: 1.8rem;
  --fontSizeBase: 1.6rem;
  --fontSizeSmall: 1.4rem;
  --fontSizeSmaller: 1.2rem;

  /* font weights */
  --fontWeightLight: 300;
  --fontWeightBook: 400;
  --fontWeightBold: 600;

  --font-weight-base: var(--fontWeightBook);
  --font-weight-heading: var(--fontWeightBold);

  /*
  ========================================================================================
    Line Heights
  ========================================================================================
  */

  --lineHeightH1: calc(var(--fontSizeH1) + 0.0rem);
  --lineHeightH2: calc(var(--fontSizeH2) + 0.4rem);
  --lineHeightH3: calc(var(--fontSizeH3) + 0.4rem);
  --lineHeightH4: calc(var(--fontSizeH4) + 0.8rem);
  --lineHeightH5: calc(var(--fontSizeH5) + 0.8rem);
  --lineHeightH6: calc(var(--fontSizeH6) + 0.8rem);
  --lineHeightLarge: calc(var(--fontSizeLarge) + 0.6rem);
  --lineHeightBase: calc(var(--fontSizeBase) + 0.8rem);
  --lineHeightSmall: calc(var(--fontSizeSmall) + 0.6rem);
  --lineHeightSmaller: calc(var(--fontSizeSmaller) + 0.4rem);

  /*
  ========================================================================================
    Letter Spacings
  ========================================================================================
  */

  --letterSpacingBase: -0.0125em;
  --letterSpacingHeading: calc(var(--letterSpacingBase) * 2);

  /*
  ========================================================================================
    Animations
  ========================================================================================
  */

  --animationDurationBase: 100ms;
  --animationTimingBase: ease;

  /*
  ========================================================================================
    Widths
  ========================================================================================
  */

  --windowWidth: 100vw;
  --layoutMinWidth: 32rem;
  --layoutMaxWidth: calc(var(--layoutMinWidth) * 4);
  --gutterWidth: calc((var(--windowWidth) - var(--layoutMaxWidth)) / 2);

}

@media (prefers-color-scheme: dark) {
  :root {}
}
