/*
==========================================================================================
  Button
==========================================================================================
*/

.buttons {
  display: flex;
  align-items: center;
  column-gap: calc(var(--gap) * 2);
}

button,
.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: var(--colorLink);
  line-height: inherit;
  letter-spacing: inherit;
  white-space: nowrap;
  user-select: none;
  cursor: pointer;

  &:disabled {
    color: var(--colorGray8);
    text-decoration: none;
    cursor: default;
  }

  &:not(:disabled) {
    &:hover { color: var(--colorBase); }
  }

  &.button-base {
    padding: var(--gap) calc(var(--gap) * 2);
    background-color: var(--colorLink);
    border-radius: var(--borderRadiusRelative);
    font-size: var(--fontSizeBase);
    font-weight: inherit;
    color: var(--colorGray0);
    line-height: var(--lineHeightBase);
    text-decoration: none;

    &:disabled {
      background-color: var(--colorGray4);
      color: var(--colorGray8);
    }

    &:not(:disabled) {
      &:hover {
        background-color: var(--colorRotarySkyBlue);
        color: var(--colorGray0);
      }
    }
  }

  &.button-small {
    font-size: var(--fontSizeSmall);
    line-height: var(--lineHeightSmall);
  }

  &.button-smaller {
    font-size: var(--fontSizeSmaller);
    line-height: var(--lineHeightSmaller);
  }

  &.button-wide { width: 100%; }

  &.button-rotary-azure {
    background-color: var(--colorRotaryAzure);

    &:not(:disabled) {
      &:hover { background-color: var(--colorRotaryOrange); }
    }
  }

  &.button-gray {
    background-color: var(--colorGray2);
    color: var(--colorBase);

    &:not(:disabled) {
      &:hover {
        background-color: var(--colorGray3);
        color: var(--colorBase);
      }
    }
  }

  &.button-transparent {
    background-color: transparent;
    color: var(--colorBase);

    &:not(:disabled) {
      &:hover {
        background-color: transparent;
        color: var(--colorRotaractRed);
      }
    }
  }
}

button {
  appearance: none;
  background-color: transparent;
  border: none;
}
