.faqs {
  .faq {
    border-bottom: var(--border);

    &:first-child { border-top: var(--border); }

    .question {
      padding: 1.8rem 0;
      font-family: var(--fontFamilyHeading);
      font-size: var(--fontSizeH4);
      font-weight: 700;
      color: var(--c-heading);
      line-height: var(--f-h6-lh);
      cursor: pointer;
    }

    .answer {
      padding-bottom: 1.8rem;
      font-size: var(--fontSizeH5);
      line-height: var(--f-larger-lh);
      max-width: 90rem;
    }
  }
}
