/*
==========================================================================================
  Forms
==========================================================================================
*/

.form {
  display: grid;
  gap: 0.0rem;
  align-content: start;
  font-size: var(--fontSizeBase);
  line-height: var(--lineHeightBase);
  width: 100%;

  &.form-small {
    font-size: var(--fontSizeSmall);
    line-height: var(--lineHeightSmall);
  }

  &.form-smaller {
    font-size: var(--fontSizeSmaller);
    line-height: var(--lineHeightSmaller);
  }

  .fieldset {}

  .legend {}

  .field {
    display: grid;
    grid-template-areas:
      "label"
      "input";
    gap: 0.0rem;

    &:not(:last-child) { margin-bottom: 0.0rem; }

    &.field--checkbox,
    &.field--radio {
      grid-template-areas:
        "input label";
      grid-template-columns: auto 1fr;
      gap: 0.0rem;
    }
  }
}

.label {
  display: block;
  grid-area: label;
  user-select: none;

  &[for] { cursor: pointer; }
}

.input {
  appearance: none;
  grid-area: input;
  background-color: var(--colorGray2);
  border: none;
  border-radius: var(--borderRadiusRelative);
  font-size: inherit;
  color: var(--colorBase);
  line-height: inherit;
  letter-spacing: inherit;

  &:focus {}

  &:required {}

  &:disabled {}

  &.input-text,
  &.input-textarea,
  &.input-select {
    display: block;
    padding: 0.5em 1em;
    width: 100%;
  }

  &.input-select,
  &.input-checkbox,
  &.input-radio {
    cursor: pointer;
  }

  &.input-checkbox,
  &.input-radio {
    width: 1em;
    height: 1em;

    &:checked {}

    &:indeterminate {}
  }

  &.input-text {}

  &.input-textarea { resize: vertical; }

  &.input-select {}

  &.input-checkbox {}

  &.input-radio {}

  &.input-range {
    &:in-range {}

    &:out-of-range {}
  }
}
