.label {
  background-color: var(--colorGray8);
  color: var(--colorGray0);
  letter-spacing: 0;
  text-transform: uppercase;
  white-space: nowrap;

  &[data-label-type="learn"] { background-color: var(--c-rotary-violet); }

  &[data-label-type="socialize"] { background-color: var(--c-rotary-sky-blue); }

  &[data-label-type="serve"] { background-color: var(--c-rotary-gold); }

  &[data-label-type="members-only"] { background-color: var(--c-red); }
}

.labels {
  display: flex;
  align-items: flex-start;

  .label {
    &:not(:last-child) { margin-right: 0.6rem; }
  }
}
