/*
==========================================================================================
  Social
==========================================================================================
*/

.social {
  display: flex;
  align-items: center;
  column-gap: calc(var(--gap) * 2);
  list-style: none;

  .channel {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--colorGray8);
    line-height: 1;
  }
}
