/*
==========================================================================================
  Header
==========================================================================================
*/

.header {
  display: grid;
  grid-template-columns: var(--gridColumnsBase);
  padding-top: calc(var(--gap) * 2);

  .navigation {
    display: grid;
    grid-column: 2 / -2;
    grid-template-columns: auto 1fr;
    align-items: center;
    column-gap: calc(var(--gap) * 8);

    .menu-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      column-gap: calc(var(--gap) * 8);
    }

    .menu {
      display: flex;
      align-items: center;
      column-gap: calc(var(--gap) * 4);
      margin-bottom: 0;
      list-style: none;

      .menu-item {
        &:hover {
          a { color: var(--colorLink); }
        }

        a {
          display: block;
          padding: calc(var(--gap) * 1.5) 0;
          color: var(--colorBase);
          text-decoration: none;
          white-space: nowrap;
        }
      }
    }
  }
}
